@model ReviewWeb.Models.Post
@{

    ViewBag.Title = "PostDetail";
}

<!-- =========================
       Blog Section
   ============================== -->

<section class="blog-section">
    <div class="container">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <div class="blog-single">
                    <div class="blog-box">
                        <!--
                            ==================
                            Date Section
                            ==================
                         -->
                        <div class="blog-date text-center">
                            <h2 class="date">25</h2>
                            <h4 class="monthe">March</h4>
                        </div>
                        <!--
                            ==================
                            Blog Img
                            ==================
                         -->
                        <div class="blog-img">
                            <img src="@Model.Image" class="figure-img img-fluid" alt="blog-img">
                            <div class="shadow">
                                <img src="img/shadow.png" class="figure-img img-fluid" alt="blog-img">
                            </div>
                        </div>
                        <!--
                            ==================
                            Meta Area
                            ==================
                         -->
                        <div class="single-blog-mata-area">
                            <div class="blog-meta">
                                <div class="d-flex justify-content-start">
                                    <a href="#">
                                        <div class="blog-like">
                                            <i class="fa fa-eye" aria-hidden="true"></i>
                                            @Model.Views
                                        </div>
                                    </a>
                                    
                                </div>
                            </div>
                        </div>
                        <!--
                            ==================
                            Author Meta
                            ==================
                         -->
                        <div class="author-meta">
                            Posted by <a href="#">@Model.User.Fullname</a>
                        </div>
                        <!--
                            ======================
                            Blog Content
                            ======================
                         -->
                        <div class="blog-content-box">
                            <a href="#"><h4 class="blog-title">@Model.Title</h4></a>
                            <p class="blog-content">With precision crafted metal frame design, refined performance and Windows 10 built in, it’s the smart choice for your business. With precision crafted metal frame design, refined performance and Windows 10 built in, it’s the smart choice for your business.With precision crafted metal frame design, refined performance and Windows 10 built in, it’s the smart cho With precision crafted metal frame design, refined performance and Windows 10 built in, it’s the smart choWith precision crafted metal frame design, refined performance and Windows 10 built in, it’s the smart cho.</p>
                            <br>

                            <div class="blog-content">
                                <div class="inside-article">
                                    <header class="entry-header">
                                        <h1 class="entry-title" itemprop="headline">Danh sách điện thoại hỗ trợ sạc không dây trên iphone năm 2021</h1><div class="entry-meta entry-review">
                                            <span class="author-avatar"><img data-lazyloaded="1" src="https://secure.gravatar.com/avatar/e28ebca07c7664dc4e6355772aeffb2a?s=96&amp;d=mm&amp;r=g" class="img-circle litespeed-loaded" alt="Quyết Thắng" data-src="https://secure.gravatar.com/avatar/e28ebca07c7664dc4e6355772aeffb2a?s=96&amp;d=mm&amp;r=g" width="16px" height="16px" data-was-processed="true"><noscript><img class="img-circle" alt="Quyết Thắng" src="https://secure.gravatar.com/avatar/e28ebca07c7664dc4e6355772aeffb2a?s=96&#038;d=mm&#038;r=g" width="16px" height="16px"></noscript></span>
                                            <span class="byline"> <span class="author vcard"><span class="author-name" itemprop="name">Quyết Thắng</span></span></span> <span class="posted-on"><time class="updated"><i class="far fa-calendar-alt"></i> 09 Tháng Mười Một, 2021</time></span> <span class="posted-on"><i class="fas fa-eye"></i> 45</span>
                                        </div>
                                    </header><div class="toc" style=" margin-top: 20px; "><div id="ftwp-container-outer" class="ftwp-in-post ftwp-float-none" style="height: 298.25px;"><div id="ftwp-container" class="ftwp-wrap ftwp-minimize ftwp-middle-left" style=""><button type="button" id="ftwp-trigger" class="ftwp-shape-circle ftwp-border-none" title="click To Maximize The Table Of Contents" style=""><span class="ftwp-trigger-icon ftwp-icon-bullet"></span></button><nav id="ftwp-contents" class="ftwp-shape-round ftwp-border-none" style="height: 298.25px;"><header id="ftwp-header"><span id="ftwp-header-control" class="ftwp-icon-bullet"></span><button type="button" id="ftwp-header-minimize" class="ftwp-icon-expand" aria-labelledby="ftwp-header-title" aria-label="Expand or collapse"></button><span id="ftwp-header-title">Tiêu đề chính</span></header><ol id="ftwp-list" class="ftwp-liststyle-decimal ftwp-effect-bounce-to-right ftwp-list-nest ftwp-strong-first ftwp-colexp ftwp-colexp-icon" style="height: 251px;"><li class="ftwp-item ftwp-has-sub ftwp-expand"><button type="button" aria-label="Expand or collapse" class="ftwp-icon-expand"></button><a class="ftwp-anchor" href="#dong-iphone-doi-nao-ho-tro-sac-khong-day-tren-iphone"><span class="ftwp-text">Dòng Iphone đời nào hỗ trợ sạc không dây trên iphone?</span></a><ol class="ftwp-sub"><li class="ftwp-item"><a class="ftwp-anchor" href="#nhung-dien-thoai-iphone-tuong-thich-voi-sac-khong-day"><span class="ftwp-text">Những điện thoại iPhone tương thích với sạc không dây</span></a></li></ol></li><li class="ftwp-item"><a class="ftwp-anchor" href="#sac-khong-day-tren-iphone-voi-cong-nghe-qi-la-gi"><span class="ftwp-text">Sạc không dây trên iphone với Công nghệ Qi là gì?</span></a></li><li class="ftwp-item ftwp-has-sub ftwp-expand"><button type="button" aria-label="Expand or collapse" class="ftwp-icon-expand"></button><a class="ftwp-anchor" href="#uu-diem-va-nhuoc-diem-cua-sac-khong-day-tren-iphone"><span class="ftwp-text">Ưu điểm và nhược điểm của sạc không dây trên iphone</span></a><ol class="ftwp-sub"><li class="ftwp-item"><a class="ftwp-anchor" href="#uu-diem"><span class="ftwp-text">Ưu điểm:</span></a></li><li class="ftwp-item"><a class="ftwp-anchor" href="#nhuoc-diem"><span class="ftwp-text">Nhược điểm:</span></a></li></ol></li><li class="ftwp-item"><a class="ftwp-anchor" href="#co-nen-dung-sac-magsafe-tren-iphone-khong"><span class="ftwp-text">Có nên dùng sạc magsafe trên iphone không?</span></a></li><li class="ftwp-item"><a class="ftwp-anchor" href="#sac-du-phong-khong-day-cho-iphone"><span class="ftwp-text">Sạc dự phòng không dây cho iphone</span></a></li><li class="ftwp-item"><a class="ftwp-anchor" href="#nhung-sai-lam-khi-sac-pin-tren-iphone-nam-2021"><span class="ftwp-text">Những sai lầm khi sạc pin trên iphone năm 2021</span></a></li></ol></nav></div></div></div><div class="news_detail_tbl">
                                        <table>
                                            <tbody>
                                                <tr>
                                                    <th class="text_center">Tên sản phẩm</th>
                                                    <th class="text_center">
                                                        Ưu điểm
                                                    </th>
                                                    <th class="text_center">
                                                        Đánh giá
                                                    </th>
                                                    <th class="text_center">Giá bán</th>
                                                    <th></th>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <div class="news_detail_tbl_name"></div><picture>
                                                            <img src="" class="news_detail_tbl_img">
                                                        </picture>
                                                    </td>
                                                    <td>
                                                        <span class="news_detail_tbl_th">Ưu điểm:</span>
                                                    </td>
                                                    <td>
                                                        <span class="news_detail_tbl_th">Đánh giá:</span>
                                                    </td>
                                                    <td>
                                                        <span class="news_detail_tbl_th"></span>
                                                        VNĐ
                                                    </td>
                                                    <td>
                                                        <a title="Xem Chi Tiết" href="#san-pham-1" class="news_place_btn">Xem Chi Tiết</a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <div class="news_detail_tbl_name"></div><picture>
                                                            <img data-lazyloaded="1" src="https://webdanhgia.vn/wp-content/uploads/2021/11/danh-gia-vivo-y50-800x533.jpg" data-src="https://webdanhgia.vn/wp-content/uploads/2021/11/danh-gia-vivo-y50-800x533.jpg" class="news_detail_tbl_img litespeed-loaded" data-was-processed="true">
                                                            <noscript><img src="https://webdanhgia.vn/wp-content/uploads/2021/11/danh-gia-vivo-y50-800x533.jpg" class="news_detail_tbl_img"></noscript>
                                                        </picture>
                                                    </td>
                                                    <td>
                                                        <span class="news_detail_tbl_th">Ưu điểm:</span>
                                                    </td>
                                                    <td>
                                                        <span class="news_detail_tbl_th">Đánh giá:</span>
                                                    </td>
                                                    <td>
                                                        <span class="news_detail_tbl_th"></span>
                                                        VNĐ
                                                    </td>
                                                    <td>
                                                        <a title="Xem Chi Tiết" href="#san-pham-2" class="news_place_btn">Xem Chi Tiết</a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div><div id="san-pham-1" class="rh-review-heading rh-flex-center-align mb25"><div class="rh-review-heading__position mr15 font150"> <span class="fontbold lightgreycolor font250">1</span></div><div><h3 class="mt0 mb0" style=" color: #33823e; "></h3></div></div><div class="bigofferblock margincenter mb30 pt20 pl20 pr20 " style="">
                                        <div class="col_wrap_two mb0">
                                            <div class="offerbox_big_wrap flowhidden">
                                                <div class="image position-relative text-center col_item mobileblockdisplay img-maxh-350 img-width-auto">
                                                    <a class="re_track_btn" href="" target="_blank" rel="nofollow sponsored">
                                                        <img width="500" alt="" src="">
                                                    </a>
                                                </div><div class="product-summary col_item mobileblockdisplay"><div class="news_detail_goodprice"><div class="news_detail_goodprice_title">Giá tốt nhất</div><div class="news_detail_goodprice_price"><span class="news_detail_goodprice_newprice"></span></div></div></div>
                                            </div>
                                        </div>
                                    </div><div class="clearfix"></div><div class="rate_bar_wrap revbox1114476115"><div class="mt20 flowhidden"><div class="wpsm-one-half wpsm-column-first"><div class="wpsm_pros"><div class="title_pros"><i class="far fa-check-circle"></i> Ưu điểm</div><ul></ul></div></div><div class="wpsm-one-half wpsm-column-last"><div class="wpsm_cons"><div class="title_cons"><i class="far fa-times-circle"></i> KHUYẾT ĐIỂM</div><ul></ul></div></div></div></div><div class="thongtinsp"></div><div id="san-pham-2" class="rh-review-heading rh-flex-center-align mb25"><div class="rh-review-heading__position mr15 font150"> <span class="fontbold lightgreycolor font250">2</span></div><div><h3 class="mt0 mb0" style=" color: #33823e; "></h3></div></div><div class="bigofferblock margincenter mb30 pt20 pl20 pr20 " style="">
                                        <div class="col_wrap_two mb0">
                                            <div class="offerbox_big_wrap flowhidden">
                                                <div class="image position-relative text-center col_item mobileblockdisplay img-maxh-350 img-width-auto">
                                                    <a class="re_track_btn" href="" target="_blank" rel="nofollow sponsored">
                                                        <img data-lazyloaded="1" src="https://webdanhgia.vn/wp-content/uploads/2021/11/danh-gia-vivo-y50-800x533.jpg" width="500" alt="" data-src="https://webdanhgia.vn/wp-content/uploads/2021/11/danh-gia-vivo-y50-800x533.jpg" class="litespeed-loaded" data-was-processed="true"><noscript><img width="500" alt="" src="https://webdanhgia.vn/wp-content/uploads/2021/11/danh-gia-vivo-y50-800x533.jpg" /></noscript>
                                                    </a>
                                                </div><div class="product-summary col_item mobileblockdisplay"><div class="news_detail_goodprice"><div class="news_detail_goodprice_title">Giá tốt nhất</div><div class="news_detail_goodprice_price"><span class="news_detail_goodprice_newprice"></span></div></div></div>
                                            </div>
                                        </div>
                                    </div><div class="clearfix"></div><div class="rate_bar_wrap revbox1114476115"><div class="mt20 flowhidden"><div class="wpsm-one-half wpsm-column-first"><div class="wpsm_pros"><div class="title_pros"><i class="far fa-check-circle"></i> Ưu điểm</div><ul></ul></div></div><div class="wpsm-one-half wpsm-column-last"><div class="wpsm_cons"><div class="title_cons"><i class="far fa-times-circle"></i> KHUYẾT ĐIỂM</div><ul></ul></div></div></div></div><div class="thongtinsp"></div><div class="entry-content" itemprop="text">
                                        <div id="ftwp-container-outer" class="ftwp-in-post ftwp-float-none"><div id="ftwp-container" class="ftwp-wrap ftwp-hidden-state ftwp-minimize ftwp-middle-left"><button type="button" id="ftwp-trigger" class="ftwp-shape-circle ftwp-border-none" title="click To Maximize The Table Of Contents"><span class="ftwp-trigger-icon ftwp-icon-bullet"></span></button><nav id="ftwp-contents" class="ftwp-shape-round ftwp-border-none"><header id="ftwp-header"><span id="ftwp-header-control" class="ftwp-icon-bullet"></span><button type="button" id="ftwp-header-minimize" class="ftwp-icon-expand" aria-labelledby="ftwp-header-title" aria-label="Expand or collapse"></button><span id="ftwp-header-title">Tiêu đề chính</span></header><ol id="ftwp-list" class="ftwp-liststyle-decimal ftwp-effect-bounce-to-right ftwp-list-nest ftwp-strong-first ftwp-colexp ftwp-colexp-icon"><li class="ftwp-item ftwp-has-sub ftwp-expand"><button type="button" aria-label="Expand or collapse" class="ftwp-icon-expand"></button><a class="ftwp-anchor" href="#dong-iphone-doi-nao-ho-tro-sac-khong-day-tren-iphone"><span class="ftwp-text">Dòng Iphone đời nào hỗ trợ sạc không dây trên iphone?</span></a><ol class="ftwp-sub"><li class="ftwp-item"><a class="ftwp-anchor" href="#nhung-dien-thoai-iphone-tuong-thich-voi-sac-khong-day"><span class="ftwp-text">Những điện thoại iPhone tương thích với sạc không dây</span></a></li></ol></li><li class="ftwp-item"><a class="ftwp-anchor" href="#sac-khong-day-tren-iphone-voi-cong-nghe-qi-la-gi"><span class="ftwp-text">Sạc không dây trên iphone với Công nghệ Qi là gì?</span></a></li><li class="ftwp-item ftwp-has-sub ftwp-expand"><button type="button" aria-label="Expand or collapse" class="ftwp-icon-expand"></button><a class="ftwp-anchor" href="#uu-diem-va-nhuoc-diem-cua-sac-khong-day-tren-iphone"><span class="ftwp-text">Ưu điểm và nhược điểm của sạc không dây trên iphone</span></a><ol class="ftwp-sub"><li class="ftwp-item"><a class="ftwp-anchor" href="#uu-diem"><span class="ftwp-text">Ưu điểm:</span></a></li><li class="ftwp-item"><a class="ftwp-anchor" href="#nhuoc-diem"><span class="ftwp-text">Nhược điểm:</span></a></li></ol></li><li class="ftwp-item"><a class="ftwp-anchor" href="#co-nen-dung-sac-magsafe-tren-iphone-khong"><span class="ftwp-text">Có nên dùng sạc magsafe trên iphone không?</span></a></li><li class="ftwp-item"><a class="ftwp-anchor" href="#sac-du-phong-khong-day-cho-iphone"><span class="ftwp-text">Sạc dự phòng không dây cho iphone</span></a></li><li class="ftwp-item"><a class="ftwp-anchor" href="#nhung-sai-lam-khi-sac-pin-tren-iphone-nam-2021"><span class="ftwp-text">Những sai lầm khi sạc pin trên iphone năm 2021</span></a></li></ol></nav></div></div><div id="ftwp-postcontent">
                                            <p><span style="font-weight: 400;">Những năm gần đây, Apple liên tục cải tiến hệ thống sạc trên iphone và <a href="https://webdanhgia.vn/sac-khong-day-tren-iphone/"><strong>sạc không dây trên iphone</strong></a> đã được người dùng vô cùng ưa chuộng vị sự tiện lợi của nó. Cùng <a href="https://webdanhgia.vn/"><strong>webdanhgia</strong> </a>kiểm tra xem điện thoại của bạn có được hỗ trợ không nhé!</span></p><h2 id="dong-iphone-doi-nao-ho-tro-sac-khong-day-tren-iphone" class="ftwp-heading"><span style="font-weight: 400;">Dòng Iphone đời nào hỗ trợ sạc không dây trên iphone?</span></h2><p><span style="font-weight: 400;">Tính năng sạc không dây không phải iphone nào cũng cho phép hỗ trợ hiện các dòng iphone cũ Apple không hỗ trợ tính năng này. Bạn có thể kiểm tra thêm ở đây.</span></p><figure id="attachment_14338" aria-describedby="caption-attachment-14338" style="width: 600px" class="wp-caption aligncenter"><a href="https://webdanhgia.vn/wp-content/uploads/2021/11/sac-khong-day-tren-iphone-1-1.jpg" data-lbwps-width="600" data-lbwps-height="400" data-lbwps-handler="1"><img data-lazyloaded="1" src="data:image/gif;base64,R0lGODdhAQABAPAAAMPDwwAAACwAAAAAAQABAAACAkQBADs=" loading="lazy" class="wp-image-14338 size-full" title="Sạc không dây trên iphone" data-src="https://webdanhgia.vn/wp-content/uploads/2021/11/sac-khong-day-tren-iphone-1-1.jpg" alt="Sạc không dây trên iphone" width="600" height="400" data-srcset="https://webdanhgia.vn/wp-content/uploads/2021/11/sac-khong-day-tren-iphone-1-1.jpg 600w, https://webdanhgia.vn/wp-content/uploads/2021/11/sac-khong-day-tren-iphone-1-1-300x200.jpg 300w" data-sizes="(max-width: 600px) 100vw, 600px"><noscript><img loading="lazy" class="wp-image-14338 size-full" title="Sạc không dây trên iphone" src="https://webdanhgia.vn/wp-content/uploads/2021/11/sac-khong-day-tren-iphone-1-1.jpg" alt="Sạc không dây trên iphone" width="600" height="400" srcset="https://webdanhgia.vn/wp-content/uploads/2021/11/sac-khong-day-tren-iphone-1-1.jpg 600w, https://webdanhgia.vn/wp-content/uploads/2021/11/sac-khong-day-tren-iphone-1-1-300x200.jpg 300w" sizes="(max-width: 600px) 100vw, 600px" /></noscript></a><figcaption id="caption-attachment-14338" class="wp-caption-text">Sạc không dây trên iPhone</figcaption></figure><h3 id="nhung-dien-thoai-iphone-tuong-thich-voi-sac-khong-day" class="ftwp-heading"><span style="font-weight: 400;">Những điện thoại iPhone tương thích với sạc không dây</span></h3><p><span style="font-weight: 400;">iPhone 13 Mini (2021)</span></p><p><span style="font-weight: 400;">iPhone 13 (2021)</span></p><p><span style="font-weight: 400;">iPhone 13 Pro (2021)</span></p><p><span style="font-weight: 400;">iPhone 13 Pro Max (2021)</span></p><p><span style="font-weight: 400;">iPhone 12 Mini (2020)</span></p><p><span style="font-weight: 400;">iPhone 12 (2020)</span></p><p><span style="font-weight: 400;">iPhone 12 Pro (2020)</span></p><p><span style="font-weight: 400;">iPhone 12 Pro Max (2020)</span></p><p><span style="font-weight: 400;">iPhone 11 Pro Max (2019)</span></p><p><span style="font-weight: 400;">iPhone 11 Pro (2019)</span></p><p><span style="font-weight: 400;">iPhone 11 (2019)</span></p><p><span style="font-weight: 400;">iPhone XR (2018)</span></p><p><span style="font-weight: 400;">iPhone XS Max (2018)</span></p><p><span style="font-weight: 400;">iPhone XS (2018)</span></p><p><span style="font-weight: 400;">iPhone X (2017)</span></p><p><span style="font-weight: 400;">iPhone 8 Plus (2017)</span></p><p><span style="font-weight: 400;">iPhone 8 (2017)</span></p><p><span style="font-weight: 400;">Như vậy, chỉ có những dòng iphone từ iphone 8 trở lên Apple mới hỗ trợ công nghệ sạc không dây kèm theo đó là công nghệ sạc nhanh. Ở bản iphone 12 Apple còn cải tiến khi trang bị sạc Magsafe tiên tiến.</span></p><h2 id="sac-khong-day-tren-iphone-voi-cong-nghe-qi-la-gi" class="ftwp-heading"><span style="font-weight: 400;">Sạc không dây trên iphone với Công nghệ Qi là gì?</span></h2><p><span style="font-weight: 400;">Công nghệ Qi tiêu chuẩn không dây được phát triển và duy trì bởi Wireless Power Consortium (WPC). Qi có thể xác định được 2 thiết bị thông qua một con chíp có kết nối bán dẫn. nhờ vậy, nó giúp bạn sạc không dây trên iphone mà không cần sử dụng đến những dây dẫn vật lý.</span></p><p><span style="font-weight: 400;">Quá trình chuyển cung cấp điện năng này được gọi là cảm ứng từ. khi 2 cuộn dây trên đế sạc và iphone tiếp xúc sẽ tạo ra dòng điện xoay chiều và cung cấp điện</span></p><p><span style="font-weight: 400;">Theo WPC, có hơn 4.000 sản phẩm công nghệ được chứng nhận công nghệ Qi. Bạn có thể để ý trên bao bì bạn sẽ thấy logo mang chữ Qi của công nghệ sạc thông minh này.</span></p><figure id="attachment_14339" aria-describedby="caption-attachment-14339" style="width: 600px" class="wp-caption aligncenter"><a href="https://webdanhgia.vn/wp-content/uploads/2021/11/sac-khong-day-tren-iphone-1-2.jpg" data-lbwps-width="600" data-lbwps-height="400" data-lbwps-handler="1"><img data-lazyloaded="1" src="data:image/gif;base64,R0lGODdhAQABAPAAAMPDwwAAACwAAAAAAQABAAACAkQBADs=" loading="lazy" class="wp-image-14339 size-full" title="Sạc không dây trên iphone với công nghệ QI Certified" data-src="https://webdanhgia.vn/wp-content/uploads/2021/11/sac-khong-day-tren-iphone-1-2.jpg" alt="Sạc không dây trên iphone với công nghệ QI Certified" width="600" height="400" data-srcset="https://webdanhgia.vn/wp-content/uploads/2021/11/sac-khong-day-tren-iphone-1-2.jpg 600w, https://webdanhgia.vn/wp-content/uploads/2021/11/sac-khong-day-tren-iphone-1-2-300x200.jpg 300w" data-sizes="(max-width: 600px) 100vw, 600px"><noscript><img loading="lazy" class="wp-image-14339 size-full" title="Sạc không dây trên iphone với công nghệ QI Certified" src="https://webdanhgia.vn/wp-content/uploads/2021/11/sac-khong-day-tren-iphone-1-2.jpg" alt="Sạc không dây trên iphone với công nghệ QI Certified" width="600" height="400" srcset="https://webdanhgia.vn/wp-content/uploads/2021/11/sac-khong-day-tren-iphone-1-2.jpg 600w, https://webdanhgia.vn/wp-content/uploads/2021/11/sac-khong-day-tren-iphone-1-2-300x200.jpg 300w" sizes="(max-width: 600px) 100vw, 600px" /></noscript></a><figcaption id="caption-attachment-14339" class="wp-caption-text">Sạc không dây trên iphone với công nghệ QI Certified</figcaption></figure><h2 id="uu-diem-va-nhuoc-diem-cua-sac-khong-day-tren-iphone" class="ftwp-heading"><span style="font-weight: 400;">Ưu điểm và nhược điểm của sạc không dây trên iphone</span></h2><h3 id="uu-diem" class="ftwp-heading"><span style="font-weight: 400;">Ưu điểm:</span></h3><p><span style="font-weight: 400;">– Hiện đại, sang trọng khi bỏ đi phần dây dẫn dài rối mắt.</span></p><p><span style="font-weight: 400;">– Ngăn chặn tình trạng rò rỉ điện năng, an toàn cho người sử dụng.</span></p><p><span style="font-weight: 400;">– Thu gọn cổng sạc của iphone, giảm các rủi ro, hư hại trên thiết bị.</span></p><figure id="attachment_14344" aria-describedby="caption-attachment-14344" style="width: 600px" class="wp-caption aligncenter"><a href="https://webdanhgia.vn/wp-content/uploads/2021/11/sac-khong-day-tren-iphone-1-7.jpg" data-lbwps-width="600" data-lbwps-height="400" data-lbwps-handler="1"><img data-lazyloaded="1" src="data:image/gif;base64,R0lGODdhAQABAPAAAMPDwwAAACwAAAAAAQABAAACAkQBADs=" loading="lazy" class="wp-image-14344 size-full" title="iPhone 13 mới được hỗ trợ sạc nhanh và sạc không dây trên iPhone" data-src="https://webdanhgia.vn/wp-content/uploads/2021/11/sac-khong-day-tren-iphone-1-7.jpg" alt="iPhone 13 mới được hỗ trợ sạc nhanh và sạc không dây trên iPhone" width="600" height="400" data-srcset="https://webdanhgia.vn/wp-content/uploads/2021/11/sac-khong-day-tren-iphone-1-7.jpg 600w, https://webdanhgia.vn/wp-content/uploads/2021/11/sac-khong-day-tren-iphone-1-7-300x200.jpg 300w" data-sizes="(max-width: 600px) 100vw, 600px"><noscript><img loading="lazy" class="wp-image-14344 size-full" title="iPhone 13 mới được hỗ trợ sạc nhanh và sạc không dây trên iPhone" src="https://webdanhgia.vn/wp-content/uploads/2021/11/sac-khong-day-tren-iphone-1-7.jpg" alt="iPhone 13 mới được hỗ trợ sạc nhanh và sạc không dây trên iPhone" width="600" height="400" srcset="https://webdanhgia.vn/wp-content/uploads/2021/11/sac-khong-day-tren-iphone-1-7.jpg 600w, https://webdanhgia.vn/wp-content/uploads/2021/11/sac-khong-day-tren-iphone-1-7-300x200.jpg 300w" sizes="(max-width: 600px) 100vw, 600px" /></noscript></a><figcaption id="caption-attachment-14344" class="wp-caption-text">iPhone 13 mới được hỗ trợ sạc nhanh và sạc không dây trên iPhone</figcaption></figure><h3 id="nhuoc-diem" class="ftwp-heading"><span style="font-weight: 400;">Nhược điểm:</span></h3><p><span style="font-weight: 400;">– Thời gian sạc chậm hơn mức thông thường, công xuất sạc không dây trên iphone chỉ tối đa 7.5W</span></p><p><span style="font-weight: 400;">– Giới hạn thiết bị sử dụng trong hệ sinh thái iPhone</span></p><p><span style="font-weight: 400;">– Chi phí mua sạc không dây cao nhưng hiệu năng chưa phù hợp với mức giá này</span></p><h2 id="co-nen-dung-sac-magsafe-tren-iphone-khong" class="ftwp-heading"><span style="font-weight: 400;">Có nên dùng sạc magsafe trên iphone không?</span></h2><p><span style="font-weight: 400;">Theo review thực tế từ người dùng, hiện nay các bạn không nên sử dụng sạc không dây magsafe cho các dòng iphone mới. Vì hiệu năng sạc rất chậm và không hiệu quả.</span></p><figure id="attachment_14341" aria-describedby="caption-attachment-14341" style="width: 600px" class="wp-caption aligncenter"><a href="https://webdanhgia.vn/wp-content/uploads/2021/11/sac-khong-day-tren-iphone-1-4.jpg" data-lbwps-width="600" data-lbwps-height="400" data-lbwps-handler="1"><img data-lazyloaded="1" src="data:image/gif;base64,R0lGODdhAQABAPAAAMPDwwAAACwAAAAAAQABAAACAkQBADs=" loading="lazy" class="wp-image-14341 size-full" title="Thử sạc không dây trên iphone với sạc magsafe" data-src="https://webdanhgia.vn/wp-content/uploads/2021/11/sac-khong-day-tren-iphone-1-4.jpg" alt="Thử sạc không dây trên iphone với sạc magsafe" width="600" height="400" data-srcset="https://webdanhgia.vn/wp-content/uploads/2021/11/sac-khong-day-tren-iphone-1-4.jpg 600w, https://webdanhgia.vn/wp-content/uploads/2021/11/sac-khong-day-tren-iphone-1-4-300x200.jpg 300w" data-sizes="(max-width: 600px) 100vw, 600px"><noscript><img loading="lazy" class="wp-image-14341 size-full" title="Thử sạc không dây trên iphone với sạc magsafe" src="https://webdanhgia.vn/wp-content/uploads/2021/11/sac-khong-day-tren-iphone-1-4.jpg" alt="Thử sạc không dây trên iphone với sạc magsafe" width="600" height="400" srcset="https://webdanhgia.vn/wp-content/uploads/2021/11/sac-khong-day-tren-iphone-1-4.jpg 600w, https://webdanhgia.vn/wp-content/uploads/2021/11/sac-khong-day-tren-iphone-1-4-300x200.jpg 300w" sizes="(max-width: 600px) 100vw, 600px" /></noscript></a><figcaption id="caption-attachment-14341" class="wp-caption-text">Thử sạc không dây trên iphone với sạc magsafe</figcaption></figure><p><span style="font-weight: 400;">Với 3 lần sạc không dây trên iphone với cổng magsafe đều ra những kết quả thấp. Các bạn có thể dễ dàng nhận thấy sau 30 phút sạc mà pin trên iphone chỉ vỏn vẹn 15%-18% rất thấp, nếu bạn thường xuyên xử lý công việc nhanh chóng và cần sự linh hoạt.</span></p><p><span style="font-weight: 400;">Thay vào đó, sạc USB-C vẫn đáp ứng rất tốt với công nghệ sạc nhanh thông minh. Chỉ cần cắm sạc 30 phút trên các dòng iphone 12, iphone 13 series là bạn đã có 50% pin để tiếp tục xử lý công việc mà không phải mất quá nhiều thời gian.</span></p><h2 id="sac-du-phong-khong-day-cho-iphone" class="ftwp-heading"><span style="font-weight: 400;">Sạc dự phòng không dây cho iphone</span></h2><p><span style="font-weight: 400;">Khi ra mắt cổng sạc không dây mới magsafe mới vào năm ngoái. Apple cũng đã có ra mắt sạc dự phòng magsafe với thiết kế nhỏ gọn dễ dàng di chuyển.</span></p><figure id="attachment_14340" aria-describedby="caption-attachment-14340" style="width: 600px" class="wp-caption aligncenter"><a href="https://webdanhgia.vn/wp-content/uploads/2021/11/sac-khong-day-tren-iphone-1-3.jpg" data-lbwps-width="600" data-lbwps-height="400" data-lbwps-handler="1"><img data-lazyloaded="1" src="data:image/gif;base64,R0lGODdhAQABAPAAAMPDwwAAACwAAAAAAQABAAACAkQBADs=" loading="lazy" class="wp-image-14340 size-full" title="Sạc không dây trên iphone thông qua sạc dự phòng Magsafe" data-src="https://webdanhgia.vn/wp-content/uploads/2021/11/sac-khong-day-tren-iphone-1-3.jpg" alt="Sạc không dây trên iphone thông qua sạc dự phòng Magsafe" width="600" height="400" data-srcset="https://webdanhgia.vn/wp-content/uploads/2021/11/sac-khong-day-tren-iphone-1-3.jpg 600w, https://webdanhgia.vn/wp-content/uploads/2021/11/sac-khong-day-tren-iphone-1-3-300x200.jpg 300w" data-sizes="(max-width: 600px) 100vw, 600px"><noscript><img loading="lazy" class="wp-image-14340 size-full" title="Sạc không dây trên iphone thông qua sạc dự phòng Magsafe" src="https://webdanhgia.vn/wp-content/uploads/2021/11/sac-khong-day-tren-iphone-1-3.jpg" alt="Sạc không dây trên iphone thông qua sạc dự phòng Magsafe" width="600" height="400" srcset="https://webdanhgia.vn/wp-content/uploads/2021/11/sac-khong-day-tren-iphone-1-3.jpg 600w, https://webdanhgia.vn/wp-content/uploads/2021/11/sac-khong-day-tren-iphone-1-3-300x200.jpg 300w" sizes="(max-width: 600px) 100vw, 600px" /></noscript></a><figcaption id="caption-attachment-14340" class="wp-caption-text">Sạc không dây trên iphone thông qua sạc dự phòng Magsafe</figcaption></figure><p><span style="font-weight: 400;">Sạc dự phòng Apple đang có giá 99$ tương đương với gần 2.3 triệu đồng. Dung lượng pin khoảng 1.450mAh chỉ có thể sạc đầy iphone 12 mini còn các dòng iPhone 12 pro và pro max sẽ không đầy được.</span></p><p><span style="font-weight: 400;">Đây là thiết bị được xem như hỗ trợ tối ưu cho iphone 12 khi dung lượng pin trên dòng điện thoại này được coi là yếu thế hơn so với các dòng cùng series trong phân khúc.</span></p><p><span style="font-weight: 400;">Sạc dự phòng magsafe chỉ có một màu duy nhất là màu trắng, được làm bằng bỏ nhựa chống bám bụi bẩn và khối lượng nhẹ để tối ưu trong việc di chuyển.</span></p><p><span style="font-weight: 400;">Xem review chi tiết ở đây nhé!</span></p><p><iframe loading="lazy" title="Trên tay pin dự phòng Apple Battery Pack MagSafe" width="640" height="360" src="https://www.youtube.com/embed/Q7QPjIbcYj0?feature=oembed" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe></p><h2 id="nhung-sai-lam-khi-sac-pin-tren-iphone-nam-2021" class="ftwp-heading"><span style="font-weight: 400;">Những sai lầm khi sạc pin trên iphone năm 2021</span></h2><p><span style="font-weight: 400;">Một số gợi ý sẽ giúp bạn sạc pin tốt hơn khi sử dụng thiết bị iphone. Khi sạc iphone thường khi pin xuống mức 20% bạn thường sạc pin để iphone không bị tiếp tục tụt pin khi sử dụng.</span></p><p><span style="font-weight: 400;">Điều này đã khiến cho thiết bị ghi nhớ mốc % pin mặc định cần sạc trên iphone, bạn có thể thay đổi thói quen khi pin xuống 10% – 15% rồi mới tiến hành sạc để kéo dài chu kỳ pin ra nhé!</span></p><p><span style="font-weight: 400;">Nhiệt độ tỏa ra khi sử dụng ứng dụng hoặc sạc pin không dây trên iphone là kẻ thù của pin. Trước khi cắm sạc, bạn nên kiểm tra xem thiết bị đã được tối ưu chưa (tắt ứng dụng wifi, 3G, Bluetooth, GPS, ứng dụng chạy nền). Tránh để iphone trên nệm, gối các chất liệu bằng vải bông để điện thoại tỏa nhiệt tốt hơn khi sạc.</span></p><figure id="attachment_14343" aria-describedby="caption-attachment-14343" style="width: 600px" class="wp-caption aligncenter"><a href="https://webdanhgia.vn/wp-content/uploads/2021/11/sac-khong-day-tren-iphone-1-6.jpg" data-lbwps-width="600" data-lbwps-height="400" data-lbwps-handler="1"><img data-lazyloaded="1" src="data:image/gif;base64,R0lGODdhAQABAPAAAMPDwwAAACwAAAAAAQABAAACAkQBADs=" loading="lazy" class="wp-image-14343 size-full" title="Củ sạc USB-C sạc nhanh mới nhất dành cho iphone" data-src="https://webdanhgia.vn/wp-content/uploads/2021/11/sac-khong-day-tren-iphone-1-6.jpg" alt="Củ sạc USB-C sạc nhanh mới nhất dành cho iphone" width="600" height="400" data-srcset="https://webdanhgia.vn/wp-content/uploads/2021/11/sac-khong-day-tren-iphone-1-6.jpg 600w, https://webdanhgia.vn/wp-content/uploads/2021/11/sac-khong-day-tren-iphone-1-6-300x200.jpg 300w" data-sizes="(max-width: 600px) 100vw, 600px"><noscript><img loading="lazy" class="wp-image-14343 size-full" title="Củ sạc USB-C sạc nhanh mới nhất dành cho iphone" src="https://webdanhgia.vn/wp-content/uploads/2021/11/sac-khong-day-tren-iphone-1-6.jpg" alt="Củ sạc USB-C sạc nhanh mới nhất dành cho iphone" width="600" height="400" srcset="https://webdanhgia.vn/wp-content/uploads/2021/11/sac-khong-day-tren-iphone-1-6.jpg 600w, https://webdanhgia.vn/wp-content/uploads/2021/11/sac-khong-day-tren-iphone-1-6-300x200.jpg 300w" sizes="(max-width: 600px) 100vw, 600px" /></noscript></a><figcaption id="caption-attachment-14343" class="wp-caption-text">Củ sạc USB-C sạc nhanh mới nhất dành cho iphone</figcaption></figure><p><span style="font-weight: 400;">Sạc luân phiên trên iphone cũng không ảnh hưởng đến tuổi thọ của pin. Khi pin đang ở mức 40% bạn vẫn có thể sạc lên 80% pin và sử dụng. Sau đó pin tụt xuống 20% bạn cắm sạc tiếp và sử dụng đến 60% và sử dụng nhiều lần đều không ảnh hưởng gì đến pin trên iphone. Nhờ công nghệ mới iphone đã khắc phục được nhiều hạn chế.</span></p><p><span style="font-weight: 400;">Hiện nay các dòng iphone mới đã được trang bị khả năng ngắt kết nối khi sạc pin đầy, nên bạn không còn lo canh thời điểm để rút cáp sạc khi iphone đạt 100%.&nbsp;</span></p><figure id="attachment_14342" aria-describedby="caption-attachment-14342" style="width: 600px" class="wp-caption aligncenter"><a href="https://webdanhgia.vn/wp-content/uploads/2021/11/sac-khong-day-tren-iphone-1-5.jpg" data-lbwps-width="600" data-lbwps-height="400" data-lbwps-handler="1"><img data-lazyloaded="1" src="data:image/gif;base64,R0lGODdhAQABAPAAAMPDwwAAACwAAAAAAQABAAACAkQBADs=" loading="lazy" class="wp-image-14342 size-full" title="Mẹo sạc pin ngoài sạc không dây trên iphone bạn nên biết" data-src="https://webdanhgia.vn/wp-content/uploads/2021/11/sac-khong-day-tren-iphone-1-5.jpg" alt="Mẹo sạc pin ngoài sạc không dây trên iphone bạn nên biết" width="600" height="400" data-srcset="https://webdanhgia.vn/wp-content/uploads/2021/11/sac-khong-day-tren-iphone-1-5.jpg 600w, https://webdanhgia.vn/wp-content/uploads/2021/11/sac-khong-day-tren-iphone-1-5-300x200.jpg 300w" data-sizes="(max-width: 600px) 100vw, 600px"><noscript><img loading="lazy" class="wp-image-14342 size-full" title="Mẹo sạc pin ngoài sạc không dây trên iphone bạn nên biết" src="https://webdanhgia.vn/wp-content/uploads/2021/11/sac-khong-day-tren-iphone-1-5.jpg" alt="Mẹo sạc pin ngoài sạc không dây trên iphone bạn nên biết" width="600" height="400" srcset="https://webdanhgia.vn/wp-content/uploads/2021/11/sac-khong-day-tren-iphone-1-5.jpg 600w, https://webdanhgia.vn/wp-content/uploads/2021/11/sac-khong-day-tren-iphone-1-5-300x200.jpg 300w" sizes="(max-width: 600px) 100vw, 600px" /></noscript></a><figcaption id="caption-attachment-14342" class="wp-caption-text">Mẹo sạc pin ngoài sạc không dây trên iphone bạn nên biết</figcaption></figure><p><span style="font-weight: 400;">Ngoài ra còn có một chế độ sạc pin theo thói quen vô cùng thú vị trên iphone. Đó là iphone của bạn sẽ sạc 80% và nhờ lịch sử mở tắt điện thoại vào buổi sáng để iphone có thể tiếp tục sạc phần pin còn lại tới lúc bạn thức dậy. Điều này được Apple công nhận sẽ giúp kéo dài tuổi thọ của pin hơn là cách sạc pin truyền thống thông thường.</span></p><p><span style="font-weight: 400;">Cám ơn bạn đã theo dõi bài viết của <strong>webdanhgia</strong>, nếu bạn có thông tin nào hay và thú vị về pin iphone hãy chia sẻ với <strong>webdanhgia</strong> để được cùng nhau học hỏi chia sẻ nhiều kiến thức công nghệ hữu ích hơn nữa nhé !</span></p><p><strong>Xem thêm:</strong></p><ul><li><a href="https://webdanhgia.vn/nghe-nhac-offline-tren-iphone/">TOP 5 ứng dụng nghe nhạc offline trên iPhone hay nhất</a></li><li><a href="https://webdanhgia.vn/danh-gia-iphone-12-mini/">Review tất tần tật về iPhong 12 mini đẹp</a></li><li><a href="https://webdanhgia.vn/cach-ket-noi-iphone-voi-may-tinh/">TOP 5 cách kết nối iPhone với máy tính</a></li></ul><div style="display: none;" class="kk-star-ratings kksr-valign-bottom kksr-align-right " data-id="14337" data-slug="">
                                                <div class="kksr-stars"><div class="kksr-stars-inactive"><div class="kksr-star" data-star="1"><div class="kksr-icon" style="width: 22px; height: 22px;"></div></div><div class="kksr-star" data-star="2"><div class="kksr-icon" style="width: 22px; height: 22px;"></div></div><div class="kksr-star" data-star="3"><div class="kksr-icon" style="width: 22px; height: 22px;"></div></div><div class="kksr-star" data-star="4"><div class="kksr-icon" style="width: 22px; height: 22px;"></div></div><div class="kksr-star" data-star="5"><div class="kksr-icon" style="width: 22px; height: 22px;"></div></div></div><div class="kksr-stars-active" style="width: 125px;"><div class="kksr-star"><div class="kksr-icon" style="width: 22px; height: 22px;"></div></div><div class="kksr-star"><div class="kksr-icon" style="width: 22px; height: 22px;"></div></div><div class="kksr-star"><div class="kksr-icon" style="width: 22px; height: 22px;"></div></div><div class="kksr-star"><div class="kksr-icon" style="width: 22px; height: 22px;"></div></div><div class="kksr-star"><div class="kksr-icon" style="width: 22px; height: 22px;"></div></div></div></div><div class="kksr-legend">
                                                    <strong class="kksr-score">5</strong>
                                                    <span class="kksr-muted">/</span>
                                                    <strong>5</strong>
                                                    <span class="kksr-muted">(</span>
                                                    <strong class="kksr-count">1</strong>
                                                    <span class="kksr-muted">
                                                        bình chọn
                                                    </span>
                                                    <span class="kksr-muted">)</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div><footer class="entry-meta"></footer><div class="entry-author author clearfix">
                                        <img data-lazyloaded="1" src="data:image/gif;base64,R0lGODdhAQABAPAAAMPDwwAAACwAAAAAAQABAAACAkQBADs=" alt="" data-src="https://secure.gravatar.com/avatar/e28ebca07c7664dc4e6355772aeffb2a?s=96&amp;d=mm&amp;r=g" class="avatar avatar-170 photo" height="170" width="170"><noscript><img alt="" src="https://secure.gravatar.com/avatar/e28ebca07c7664dc4e6355772aeffb2a?s=96&#038;d=mm&#038;r=g" class="avatar avatar-170 photo" height="170" width="170"></noscript><div class="info author-bio p-20">
                                            <a class="author-name" href="#">Quyết Thắng</a><div class="author-desc text">Tôi là Trần Quyết Thắng - một chuyên gia review và đánh giá các sản phẩm có trên Web Đánh Giá. Hy vọng với những chia sẻ hữu ích này, sẽ giúp bạn có một lựa chọn được những sản phẩm chất lượng.</div><ul class="social">
                                                <a href="" rel="nofollow"><i class="fab fa-youtube-square"></i></a>
                                                <a href="https://www.facebook.com/tranquyetthang360" rel="nofollow"><i class="fab fa-facebook-square"></i></a>
                                                <a href="https://www.pinterest.com/webdanhgia247/" rel="nofollow"><i class="fab fa-pinterest-square"></i></a>
                                                <a href="" rel="nofollow"><i class="fab fa-twitter-square"></i></a>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--
                                =====================
                                Blog Share Oprion
                                =====================
                             -->
                            <div class="single-blog-share-section">
                                <strong>Share :</strong>
                                <a href="#">
                                    <span class="badge badge-secondary share-facebook" data-toggle="tooltip" data-placement="top" title="Share This Blog in Facebook"><i class="fa fa-facebook" aria-hidden="true"></i>facebook</span>
                                </a>
                                <a href="#">
                                    <span class="badge badge-secondary share-twitter" data-toggle="tooltip" data-placement="top" title="Share This Blog in Twitter"><i class="fa fa-twitter" aria-hidden="true"></i>twitter</span>
                                </a>
                                <a href="#">
                                    <span class="badge badge-secondary share-linkedin" data-toggle="tooltip" data-placement="top" title="Share This Blog in Linkedin"><i class="fa fa-linkedin" aria-hidden="true"></i>Linkdin</span>
                                </a>
                                <a href="#">
                                    <span class="badge badge-secondary share-pinterest" data-toggle="tooltip" data-placement="top" title="Share This Blog in Pinterest"><i class="fa fa-pinterest-p" aria-hidden="true"></i>Pinterest</span>
                                </a>
                            </div>
                            <!--
                                =======================
                                Author Bio
                                =======================
                             -->
                            <div class="row">
                                <div class="col-md-12 col-lg-8">
                                    <div class="author-bio">
                                        <div class="media">
                                            <img class="d-flex mr-3" src="img/blog-img/author-img-1.png" alt="author-img">
                                            <div class="media-body">
                                                <h5 class="mt-0 author-bio-title">Mohammad Shohag <span>( Administrator )</span></h5>
                                                It is a long established fact that a reader looking at its layout. The point of using Lorem Ipsum is that it has.
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-12" id="CommentsArea">
                                            <!--
                                                =======================
                                                Comment Section
                                                =======================
                                             -->
                                            @{Html.RenderPartial("CommentForm", (IEnumerable<ReviewWeb.Models.Comment>)ViewBag.Comments);}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12" id="CommentForm">

                                            <div class="single-comment-from">
                                                @Html.HiddenFor(x => x.ID)
                                                <div class="media main-comment">
                                                    <div class="author-img">
                                                        <label for="exampleInputPasswordwdfp">Bình luận</label>
                                                    </div>
                                                    <div class="media-body">
                                                        <div class="comment-content">
                                                            <input type="text" name="commentContent" id="commentContent" />
                                                        </div>
                                                    </div>
                                                </div>
                                                <button class="btn btn-default comment-submit-btn">Bình luận</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>
@section scripts {

    <script type="text/javascript">
        $(".comment-submit-btn").click(function () {
            let postid = $("#ID").val();
            let content = $("#commentContent").val();

            $.post("/Home/Comment",
                {
                    PostId: postid,
                    commentContent: content
                },
                function (data, status) {
                    
                    $("#CommentsArea").prepend(
                        `<div class="media main-comment">
                                <div class="author-img">
                                    <img class="d-flex mr-3" src="" alt="author-img">
                                </div>
                                <div class="media-body">
                                    <div class="comment-content">
                                        <img class="d-flex mr-3 author-comment-img" src="img/blog-img/author-img-2.png" alt="author-img">
                                        <a href="#"><h5 class="mt-0 comment-author-name">${data.Fullname}<span class="comment-date">${data.AddDate}</span></h5></a>
                                        <p class="single-page-comment-content">${data.Content}</p>

                                        </div>
                                    </div>
                                </div>`
                    );
                    $("#commentContent").val("");
                });
            });
    </script>

}